.header__container{
    position: fixed;

    display: flex;
    flex-direction: row;
    align-self: center;

    width: 100%;
    height: 10vh;

    padding: 10px 0px 10px 0px;

    z-index: 10;

    /* background-color: lightblue; */
    /* background-color: rgba(red, green, blue, 0.9); */
}

.header__wrapperLogo{
    width: 60%;
    padding-left: 70px;

    pointer-events: none;
}

.header__logo{
    max-height: 70px;
}

.header__buttons{
    display: flex;

    align-items: center;
    justify-content: space-between;
    
    width: 40%;
    padding-right: 70px;
}

.header__button{
    border: none;
    cursor: pointer;

    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 1.3rem;

    color: #95C623;
    user-select: none;

    transition: 1s;
}

.header__button:hover{
    font-style: normal;
    font-size: 1.5rem;
    
    color: #0E4749;
    transition: 0.2s;
}

@media (max-width: 990px){
    .header__wrapperLogo{
        padding-left: 20px;

    }

    .header__buttons{
        padding-right: 20px;
        width: 80%;
    }

    .header__button{
        font-size: 0.9rem;
    }

    .header__button:hover{
        font-size: 1rem;
    }
}