.header__container{
    position: fixed;

    display: flex;
    flex-direction: row;
    align-self: center;

    width: 100%;
    height: 10vh;

    padding: 10px 0px 10px 0px;

    z-index: 10;
    transition: 0.4s;
}
.header--container {
    position: fixed;

    display: flex;
    flex-direction: row;
    align-self: center;

    width: 100%;
    height: 7vh;

    padding: 10px 0px 10px 0px;

    z-index: 10;
    background-color: rgba(0, 27, 28, 0.9);
    transition: 0.4s;
}

.header__wrapperLogo{
    width: 60%;
    padding-left: 70px;

    user-select: none;
    cursor: pointer;
}

.header__logo{
    max-height: 70px;
    transition: 0.4s;
}
.header--logo{
    max-height: 50px;
    transition: 0.4s;
}

.header__buttons{
    display: flex;

    align-items: center;
    justify-content: space-between;
    
    width: 40%;
    padding-right: 70px;
}

.header__button{
    border: none;
    cursor: pointer;

    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 1.3rem;

    color: #95C623;
    user-select: none;

    transition: 1s;
}
.header__button:hover{
    font-style: normal;
    font-size: 1.5rem;
    
    color: #0E4749;
    transition: 0.2s;
}

.header--button{
    border: none;
    cursor: pointer;

    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 1.1rem;

    color: #95C623;
    user-select: none;

    transition: 1s;
}
.header--button:hover{
    font-style: normal;
    font-size: 1.2rem;
    
    color: #0E4749;
    transition: 0.2s;
}

@media (max-width: 990px){
    .header__wrapperLogo{
        padding-left: 20px;

    }

    .header__buttons{
        padding-right: 20px;
        width: 80%;
    }

    .header__button{
        font-size: 0.9rem;
    }

    .header__button:hover{
        font-size: 1rem;
    }

    .header--button{
        font-size: 0.9rem;
    }
    .header--button:hover{
        font-size: 1rem;
    }
}