@import './animations.css';

.projects__container{
    width: 90vw;
    margin: auto;
}

.projetcts__title{
    margin: 0px;

    padding: 30px 0px 30px 0px;

    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 1.6rem;
    text-align: center;

    user-select: none;
    color: #EFE7DA;
}

.projects__projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.projects__project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 240px;
    height: 45vh;

    margin-bottom: 40px;

    /* background-color: #75A700;

    border-style: solid;
    border-width: 10px;
    border-color: #0E4749; */

    transition: 0.5s;
    cursor: pointer;
}
.projects__project:hover{
    border-color: #75A700;
    transition: 0.5s;
}

.fixFlexWrap{
    width: 240px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
}

.projects__wrapperImage{
    align-self: center;

    padding: 15px;
}

.projects__image{
    height: 200px;
    width: 200px;

    transition: 0.7s;
}
.projects__image:hover{
    height: 210px;
    width: 210px;

    filter: drop-shadow(25px 25px 2px  rgba(0, 0, 0, 0.7));

    transition: 0.7s;
}

.projects__wrapperText{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
    background-color: #001B1C;
}

.projects__text{
    font-family: 'Franklin Gothic Medium';
    font-size: 1.7rem;
    text-align: center;

    color: #EFE7DA;
}

.projects__modal{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 1vh;
    width: 1vw;

    z-index: 10000000;

    background-color: #0E4749;

    /* box-shadow: -40px 35px 10px rgba(0, 0, 0, 0.2); */
    animation: 
    showModal 2s 0s forwards, 
    modalShadow 2s 2s forwards;
}

.projects__close{
    position: absolute;
    top: 0px;
    right: 20px;
    
    font-family: 'roboto';
    font-weight: 900;
    font-size: 3rem;
    text-align: center;

    color: #95C623;
    user-select: none;
    cursor: pointer;
}

.projects__modalDescription{
    width: 55%;
    height: 100%;
    background-color: #000F10;

    overflow-x: scroll;

}

.projects__modalTitle{
    width: 95%;
    margin: 20px auto;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2rem;
    /* text-align: center; */

    color: #EFE7DA;
    user-select: none;
}

.projects__modalTecnologies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 3px 10px;
}

.projects__modalTecnologie{
    margin: 3px 3px;
    border-style: solid;
    border-color: #95C623;
    border-width: 1px;
    padding: 5px 15px 5px 15px;
    
    font-family: 'Roboto';
    font-size: 0.9rem;
    
    color: #EFE7DA;
    opacity: 0.8;
    filter: hue-rotate(350deg);

    animation: hueRotate 9s 0s infinite;
}

.projects__modalAboutTitle{
    width: 95%;
    margin: 20px auto;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;

    color: #EFE7DA;
}

.projects__modalAbout{
    width: 95%;
    margin: 20px auto;

    margin-bottom: 50px;

    font-family: 'Roboto';
    font-size: 0.9rem;

    color: #EFE7DA;
}

.projects__modalLinks{
    width: 55%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    bottom: 0;

    background-color: #000F10;

}

.projects__modalWrapperLink{
    width: 100px; 

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px 10px 5px 10px;

    padding: 4px;
    border-radius: 10px;

    background-color: #95C623;
    cursor: pointer;
}

.projects__modalLink{
    margin-left: 5px;

    font-family: 'Roboto';
    font-weight: 800;
    font-size: 0.9rem;

    color: #001B1C;
}

.projects__modalWrapperImage{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45%;
    height: 100%;
    /* background-color: saddlebrown; */

    user-select: none;
    cursor: pointer;

}

.projects__modalImage{
    width: 300px;
    height: 300px;

    opacity: 0;
    animation: modalImage 2s 1.8s forwards;
}

@media (max-width: 990px){
    .projects__modal{
        flex-direction: column-reverse;
        /* top: 0px; */
    }
    .projects__modalDescription{
        width: 100%;
        height: 65%;
        background-color: #000F10;
    
        overflow-x: scroll;
    }

    .projects__modalWrapperImage{
        width: 100%;
        height: 35%;
    }

    .projects__modalImage{
        width: 150px;
        height: 150px;
    }

    .projects__modalLinks{
        width: 100%;
        height: 50px;
    
    }
}




